h1 {
    color: black;
}

#numberDiv {
    display: flex;
    justify-content: center;
}

#number {
    color: rgb(0, 0, 0);
    background-color: white;
    max-width: 40em;
    justify-content: center;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 20px 20px 50px 10px rgb(133, 93, 203) inset
    /* font-size: 72px; */
}

#background {
    background-image: url('Cars.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
}

#andThen {
    display: flex;
    justify-content: center;
}

#disney {
    justify-content: center;
    max-width: 40em;
    background-color: white;
    justify-content: center;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 20px 20px 50px 10px rgb(93, 131, 203) inset
    /* font-size: 72px; */
}

